* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.calculator {
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  text-align: center;
}

.input_value {
  margin-bottom: 10px;
}

input[type='text'] {
  width: 90%;
  padding: 5px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: left;
  pointer-events: none;
}

.btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.math_btn {
  display: grid;
  flex-direction: row;
   float: right;
   
}
.symbols{
    font-size: 30px;
}